.section {
    margin: 10px 0px;
}

.section__header {
    background-color: #fff;
    padding: 10px 20px;
    margin: 0 0 2px 0;
    box-shadow: 1px 1px 1px 0px #CCCCCC;
}

.section__container {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 1px 1px 1px 0px #CCCCCC;
}